<p id="notice"><%= notice %></p>
<%= render 'shared/navbar' %>
<h1>Klijentis</h1>

<table>
  <thead>
    <tr>
      <th>Ime</th>
      <th>Prezime</th>
      <th>Broj</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @klijentis.each do |klijenti| %>
      <tr>
        <td><%= klijenti.ime %></td>
        <td><%= klijenti.prezime %></td>
        <td><%= klijenti.broj %></td>
        <td><%= link_to 'Show', klijenti %></td>
        <td><%= link_to 'Edit', edit_klijenti_path(klijenti) %></td>
        <td><%= link_to 'Destroy', klijenti, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Klijenti', new_klijenti_path %>
