

<%= form_with(model: frizure) do |form| %>
  <% if frizure.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(frizure.errors.count, "error") %> prohibited this frizure from being saved:</h2>

      <ul>
        <% frizure.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tip %>
    <%= form.text_field :tip %>
  </div>

  <div class="field">
    <%= form.label :cijena %>
    <%= form.text_field :cijena %>
  </div>

  <div class="field">
    <%= form.label :opis %>
    <%= form.text_field :opis %>
  </div>

  <div class="actions">
    <button type="button" class="btn btn-dark"><%= form.submit %></button>
  </div>
<% end %>
