<%= render 'shared/navbar' %>

 <h1>Editing Frizure</h1>

<%= render 'form', frizure: @frizure %>

<%= link_to 'Show', @frizure %> |
<%= link_to 'Back', frizures_path %>


<%= render 'shared/bottomm' %>
