<%= render 'shared/navbar' %>
<p id="notice"><%= notice %></p>




<br>
<div class="container"
<div class="row" style="height:200px">

  <div style="text-align:center" class="col-sm-12">
    <h1>Frizures</h1>
    <br>
    <br>
    <br>

<table class="table table-hover">
  <thead>
    <tr>
      <th style="text-align:center" scope="col">Tip</th>
      <th style="text-align:center" scope="col">Cijena KM</th>
      <th style="text-align:center" scope="col">Opis</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @frizures.each do |frizure| %>
      <tr>
        <td style="text-align:center"><%= frizure.tip %></td>
        <td style="text-align:center"><%= frizure.cijena %></td>
        <td style="text-align:center"><%= frizure.opis %></td>
        <td><button type="button" class="btn btn-dark" style="color:white"><%= link_to 'Show', frizure %></button></td>
        <td><button type="button" class="btn btn-dark"><%= link_to 'Edit', edit_frizure_path(frizure) %></button</td>
        <td><button type="button" class="btn btn-dark"><%= link_to 'Destroy', frizure, method: :delete, data: { confirm: 'Are you sure?' } %></button</td>
      </tr>
    <% end %>
  </tbody>
</table>
</div>

<br>
<button type="button" class="btn btn-warning" ><%= link_to 'New Frizure', new_frizure_path %></button>
</div>
</div>
